<!DOCTYPE>
<html>

<head>
	<title>Registration of User</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    #messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		body,
html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: grey;
    }
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: Black;
  font-size: 85px;
}
h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: White;
  text-size: 20%
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
   font-size: 38px;
}
  .hello-msg{
    font-size: 18px;
    color: black;
    margin-right: 20px;
  }
  .my-nav{
  height: 80px;
  color: black;
  }
  .nav-padding{
  padding: 50px;
  }
  .content-padding{
  padding-left: 40px;
  }
  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
{% if user.is_authenticated %}
{% if user is not None and user.is_superuser %}
<!--Navbar Starts-->
<div class="my-nav">
<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav nav-padding">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">



        {% if user.is_authenticated %}
            {% if user is not None and user.is_superuser %}
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'adminpage' %}"> Admin Profile</a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'messages' %}">Messages</a>
          </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'doctor_list' %}">Doctors</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_patient_list' %}"> Patients</a>
      </li>
         <li class="nav-item ">
        <a class="nav-link" href="{% url 'register_view' %}"> Add User</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_service' %}"> Add services</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'user_activity' %}"> Activities</a>
      </li>
            {% endif %}
        {% else %}

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>

        {% endif %}
    </ul>
  </div>
  {% if user.is_authenticated %}
<!--    <a class="nav-link" href="{% url 'patient_profile' %}" style="color:black">Patient You have</a>&nbsp;-->
    <a href="{% url 'logout' %}" style="color:black">Logout</a>&nbsp;
 Hello {{user.username}} &nbsp;&nbsp;


  {% else %}
    <a class="nav-link padding" href="{% url 'register_view' %}">Register</a>&nbsp;&nbsp;
  <a class="nav-link" href="{% url 'login_view' %}">Login</a>

  {% endif %}
</nav>
</div>

<!--Navbar Ends-->

<section class="vh-100" style="background-color: #eee;">
    <br>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CREATE USER ACCOUNT</p>
                  <span class="mb-0 text-muted">
                    {% if msg %}
                       <div class="alert alert-primary" role="alert">
                        {{ msg | safe }}
                       </div>
                    {% endif %}
                  </span>

                <form class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.username }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.email}}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.password1 }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.password2 }}
                    </div>
                  </div>

                  <div class="form-check d-flex mb-5">
                        <label class="control control--checkbox mb-0"><span class="caption">Doctor</span>
                            {{ form.is_doctor }}
                          <div class="control__indicator"></div>
                        </label>
                  </div>


                    <div class="form-check d-flex  mb-5">
                        <label class="control control--checkbox mb-0"><span class="caption">Patient</span>
                            {{ form.is_patient }}
                          <div class="control__indicator"></div>
                        </label>

                  </div>
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                      {{ form.errors }}
                    </div>
                    {% endif %}
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login_view' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p>
                </form>
                  {% endif %}
                  {% else %}
                  <section class="vh-100" style="background-color: #eee;">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                          <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                   <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>
                                   <span class="mb-0 text-muted">
                    {% if msg %}
                       <div class="alert alert-primary" role="alert">
                        {{ msg | safe }}
                       </div>
                    {% endif %}
                  </span>

                <form class="mx-1 mx-md-4" method="post">
                    {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.username }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.email}}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.password1 }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       {{ form.password2 }}
                    </div>
                  </div>


                    <div class="form-check d-flex  mb-5">
                        <label class="control control--checkbox mb-0"><span class="caption">Patient</span>
                            {{ form.is_patient }}
                          <div class="control__indicator"></div>
                        </label>

                  </div>
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                      {{ form.errors }}
                    </div>
                    {% endif %}
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login_view' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p>
                </form>

                  {% endif %}
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>