<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Multiple user login</title>
    <script>
      body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}
    </script>
  </head>
  <body>
 <div class="row">
    <div class="col-sm-8" >
      <form method="POST">
          {% csrf_token %}
            <center>
            {{form.as_p}}
            <input type="submit"style ="background-color:teal";></center>

        </form>
    </div>
    <div class="col-sm-2" >
    </div>
 </div>

<!--    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>-->
<!--    <script src="{% static 'js/popper.min.js' %}"></script>-->
<!--    <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--    <script src="{% static 'js/main.js' %}"></script>-->
  </body>
</html>